@media only screen and (min-width: 1200px) {

    .medium-6 {
        width: 20%;
    }

    nav button {
        display: none;
    }

    nav ul {
        display: block;
    }

    nav li {
        width: 11%;
        float: left;
    }


}
/* End of media query */
